name: Github Context
on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:
    branches:
      - main
  release:
    types:
      - created

jobs:
  test_development:
    runs-on: ubuntu-latest
    environment: development
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Print Context
        shell: bash
        id: environment_name
        env:
          GITHUB_CONTEXT: ${{ toJSON(github) }}
        run: |
          ENV_NAME=$(echo $GITHUB_CONTEXT | jq '.event.deployment.environment')
          echo "$ENV_NAME"
